name: enroll_neo_plugin
description: "eNROLL Neo is a lightweight compliance solution that prevents identity fraud and phishing. Powered by AI, it reduces errors and speeds up identification, ensuring secure verification."
version: 1.0.0
repository: "https://github.com/LuminSoft/eNROLL-Neo"
license: MIT

environment:
  sdk: '>=3.3.4 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0


flutter:

  plugin:
    platforms:
      android:
        package: com.example.enroll_neo_plugin
        pluginClass: EnrollNeoPlugin
      ios:
        pluginClass: EnrollNeoPlugin
